<footer>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Politicas de privacidad", privacy_path %>
    </li>
    <li>
      <%= link_to "Terminos y condiciones", legal_path %>
    </li>
    <li>
      <%= link_to "Contacto", new_contact_path %>
    </li>
  </ul>
</footer>
